<h2>Orderformulär</h2>
<form>
  <label>
    UID/epost
    <input>
  </label>
  <label>
    Maträtt
    <input>
  </label>
  <label>
    Styrka
    <select id="spicyness">
      <option value="mild">Svag</option>
      <option value="medium">Medium</option>
      <option value="hot">Stark</option>
      <option value="xhot">Extra Stark</option>
      <option value="xxhot">Indisk Stark</option>
    </select>
  </label>
  <label>
    Ris
    <select id="rice">
      <option value="yes">Ja</option>
      <option value="little">Lite</option>
      <option value="no">Nej</option>
    </select>
  </label>
  <label>
    Dryck
    <select id="beverage">
      <option value="natural">Ramlösa naturell</option>
      <option value="citrus">Ramlösa citrus</option>
      <option value="coke">Coca Cola</option>
      <option value="zero">Coke Zero</option>
      <option value="fanta">Fanta</option>
      <option value="sprite">Sprite</option>
    </select>
  </label>
  <label>
    Betalar till
    <input>
  </label>
</form>