<h2>Orderformulär</h2>
<form (ngSubmit)="onSubmit()" #orderForm="ngForm">
  <label>
    UID/epost
    <input id="uid" name="uid" required [(ngModel)]="model.uid">
  </label>
  <label>
    Maträtt
    <input id="dish" name="dish" required [(ngModel)]="model.dish">
  </label>
  <label>
    Styrka
    <select id="spicyness" name="spicyness" [(ngModel)]="model.spicyness">
      <option value="mild">Svag</option>
      <option value="medium">Medium</option>
      <option value="hot">Stark</option>
      <option value="xhot">Extra Stark</option>
      <option value="xxhot">Indisk Stark</option>
    </select>
  </label>
  <label>
    Ris
    <select id="rice" name="rice" [(ngModel)]="model.rice">
      <option value="yes">Ja</option>
      <option value="little">Lite</option>
      <option value="no">Nej</option>
    </select>
  </label>
  <label>
    Extra hot sauce
    <input type="checkbox" id="hotsauce" name="hotsauce" [(ngModel)]="model.hotsauce">
  </label>
  <label>
    Dryck
    <select id="beverage" name="beverage" [(ngModel)]="model.beverage">
      <option value="natural">Ramlösa naturell</option>
      <option value="citrus">Ramlösa citrus</option>
      <option value="coke">Coca Cola</option>
      <option value="zero">Coke Zero</option>
      <option value="fanta">Fanta</option>
      <option value="sprite">Sprite</option>
    </select>
  </label>
  <label>
    Betalar till
    <input id="payto" name="payto" required [(ngModel)]="model.payto">
  </label>
  <button type="submit">Submit</button>
</form>
<code><pre>{{ model | json }}</pre></code>
